<%- include('../partials/header') %>
<h1>Profile</h1>
<section>
    <div class="container center-align">
        <img class="circle z-depth-3" src="<%= user.avatar %>">
    </div>
    <div>
        <h3>Name: <%= user.name %></h3>
        <h3>Email: <%= user.email %></h3>
    </div>
</section>

<section>
    <h2>Articles Created: </h2>


    <% if (articles) { %>
    <div class="container">
        <div class="row">
            <% articles.forEach((article) => { %>
            <div class="col s12 m6 l3">
            <div class="card small">
                <div class="card-image">
                <img src="<%= article.image %>">
                <span class="card-title"><%= article.title %></span>
                </div>
                <div class="card-content">
                <p><%= article.createdAt.toString().slice(0, 16) %></p>
                </div>
                <div class="card-action">
                <a href="/articles/<%= article._id %>">Go to article</a>
                </div>
            </div>
            </div>
            <% }); %>
        </div>
    </div>
    <% } else { %>
        <h3>No articles created yet</h3>
    <% } %>
</section>
<%- include('../partials/footer') %>