<%- include('../partials/header') %>
<header>
<div class="container">
    <h2 id="article-title" class="center-align"><%= article.title.toUpperCase() %> </h2>
    <h4 class="center-align flow-text article-info">Author: <%= article.author %></h3>
    <% if (article.source) { %>
    <h4 class="center-align flow-text article-info"><a href="<%= article.source %>" target="_blank">Go To Source</a></h3>
    <% } %>    
</div>


<div class="container row">
    <div class="col s12 m12 l12 offset-s1 center">
        <img src="<%= article.image %>" class="responsive-img">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s2 m2 l2">
            <% if (user) { %>
                <span id="likes-count-<%= article._id %>" class="new badge cyan darken-4 flow-text left" data-badge-caption="likes"><%= article.likes ? article.likes : 0 %></span>
                <div 
                onclick="actOnPost(event);"
                data-post-id="<%= article._id %>" 
                class="heart <%= article.likedBy.indexOf(user._id) >= 0 ? 'is-active' : '' %>">
                    <span class="hide"><%= article.likedBy.indexOf(user._id) >= 0 ? 'Unlike' : 'Like'  %></span>
                </div>
            <% } %>
        </div>
        <% if (user && user._id.toString() === originator._id.toString()) { %>
            <div class="col s2 m3 l2">
                <div id="article-btns" class="">
                    <a class="btn-small blue lighten-3 indigo-text text-darken-4 tooltipped" href="/articles/<%= article._id %>/edit" data-position="bottom" data-tooltip="Edit Post"><i class="large material-icons">edit</i></a>
                    <form id="delete-btn" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                        <button class="left btn-small red accent-1 brown-text text-darken-4 tooltipped" type="submit" data-position="bottom" data-tooltip="Delete Post"><i class="large material-icons">delete</i></button>
                    </form>
                </div>
            </div>
        <% } %>
        <div class="col s5 m5 l5 offset-l3">
            <h5 class="flow-text article-info right">Last modified: <%= lastMod %></h3>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <p id="article-content" class="flow-text">
            <%= article.content %>
        </p>
    </div>
</main>

<section>
    <div class="container">
    <h2>Comments</h2>
    <% if (comments.length) { %>
        <ul class="collection">
            <% comments.forEach((c) => { %>
            <li class="collection-item avatar">
                <img src="<%= c.avatar %>" alt="" class="circle responsive-img">
                <span class="title flow-text"><%= c.username %></span>
                <p><%= c.createdAt.toString().slice(0, 34) %></p>
                <br><br>
                <p class="flow-text comment"><%= c.comment %></p>
              <% if (user && user._id.toString() === c.commenter.toString()) { %>
                <form class="secondary-content" action="/articles/<%= article._id %>/comments/<%= c._id%>?_method=DELETE" method="POST">
                    <button class="btn-floating btn-small grey lighten-5" type="submit"><i class="material-icons red-text">delete</i></button>
                </form>
              <% }; %>
            </li>
            <% }) %>
          </ul>
    <% } else { %>
        <h5 class="flow-text">No Comments Yet</h5>
    <% } %>
    </div>
    <div id="comments-text-area" class="container">
        <div class="row">
            <form class="col s12 m12 l12" method="POST" action="/articles/<%= article._id %>/comments">
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <textarea id="enter-comment" class="materialize-textarea" name="comment" placeholder="Leave a comment" data-length="500" required></textarea>
                        <label for="comment">Comment:</label>
                    </div>
                        <button type="submit" class="btn-small btn-floating pulse light-blue darken-4 waves-effect waves-yellow"><i class="material-icons white-text">comment</i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<div id="show-bottom-par" class="parallax-container">
    <div class="parallax">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/potw2049a.jpg" alt="" class="responsive-img">
    </div>
</div>

<%- include('../partials/footer') %>