<%- include('../partials/header') %>
<h1>Edit Article</h1>
<form action="/articles/<%= article._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="title">Title:
        <input type="text" name="title" placeholder="Enter article title" value="<%= article.title %>" required>
    </label><br>
    <label for="author">Author:
        <input type="text" name="author" placeholder="Enter article author" value="<%= article.author %>">
    </label><br>
    <label for="source">Source:
        <input type="url" name="source" placeholder="Enter article source" value="<%= article.source %>">
    </label><br>
    <label for="Image">Image:
        <input type="file" name="image">
    </label><br>
    <label for="content">
        <textarea name="content" placeholder="Enter article content" required><%= article.content %></textarea>
    </label>
    <input type="submit" value="Update Article">
    </form>
<%- include('../partials/footer') %>