<%- include('../partials/header') %>
<div class="headline">
    <h1>need<br>some<br>space</h1>
    <h6>the place for space</h6>
</div>

<% if (nasaData) { %>
<header>
<h1>NASA Astronomy Photo of the Day</h1>
<div class="container">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="<%= nasaData.url %>">
        </div>
        <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= nasaData.title %><i class="material-icons right">more_vert</i></span>
        <p><%= nasaData.date %></p>
        </div>
        <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= nasaData.title %><i class="material-icons right">close</i></span>
        <p><%= nasaData.explanation %></p>
        </div>
    </div>
</div>
</header>
<% } %>

<h1>Articles</h1>
<% if (articles) { %>
    <div class="container row">
    <% articles.forEach((article) => { %>
    <a href="/articles/<%= article._id %>">
        <div style="background-image: url(<%= article.image %>);" class="clip-text col s12 m12 l12 hoverable truncate"><%= article.title %></div>
    </a>
    <% }); %>
    </div>
<% } else { %>
    <h3>No articles yet</h3>
<% } %>


<%- include('../partials/footer') %>