<%- include('../partials/header') %>
<header id="landing-page">
    <div class="headline">
        <h1>need<br>some<br>space</h1>
        <h6>the place for space</h6>
    </div>
</header>


<% if (nasaData) { %>
<section id="nasa-apod">
<div class="container">
    <div class="row">
        <div class="card col s12 m6 offset-m3 offset-l2 l8 light-blue lighten-5">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= nasaData.url %>" alt="image from nasa">
            </div>
            <div class="card-content  light-blue lighten-5">
            <span class="card-title activator grey-text text-darken-4 flow-text"><%= nasaData.title %><i class="material-icons right">more_vert</i></span>
            <p class="flow-text"><%= nasaData.date %> - NASA's Astronomy Photo of the Day (APOD)</p>
            </div>
            <div class="card-reveal light-blue lighten-5">
            <span class="card-title grey-text text-darken-4 flow-text"><%= nasaData.title %><i class="material-icons right">close</i></span>
            <p class="flow-text"><%= nasaData.explanation %></p>
            </div>
        </div>
    </div>
</div>
</section>
<% } %>

<div id="index-middle-par" class="parallax-container">
    <div class="parallax">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/potw2113a.jpg" alt="" class="responsive-img">
    </div>
</div>

<% if (articles) { %>
    <section class="container section" id="articles">
        
            <% articles.forEach((article, idx) => { %>
            <a href="/articles/<%= article._id %>">
            <div id="article-card" class="row hoverable z-depth-1">
                <div class="col s7 l4">
                    <img src="<%= article.image %>" class="responsive-img" />
                </div>
                <div class="col s5 l5 offset-l1">
                    <h3 class="truncate"><%= article.title.toUpperCase() %></h3>
                    <p class="truncate flow-text">Posted: <%= article.createdAt.toString().slice(0, 16) %></p>
                    <p class="truncate flow-text"><%= article.content %>></p>
                </div>
            </div>
            </a>
            <% }); %>
    </section>
<% } else { %>
    <h3>No articles yet</h3>
<% } %>

<div id="index-bottom-par" class="parallax-container">
    <div class="parallax">
        <img src="https://images-assets.nasa.gov/image/NHQ202108100009/NHQ202108100009~orig.jpg" alt="" class="responsive-img">
    </div>
</div>

<%- include('../partials/footer') %>