<%- include('../partials/header') %>
<header>
    <% if (user && user._id.toString() === originator._id.toString()) { %>
    <a class="btn-large blue lighten-3 indigo-text text-darken-4" href="/articles/<%= article._id %>/edit"><i class="large material-icons left">edit</i>Edit</a>
    <form id="delete-btn" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
        <button class="right btn-large red accent-1  brown-text text-darken-4" type="submit"><i class="large material-icons left">delete</i>Delete</button>
    </form>
    <% } %>
    <h2><%= article.title %> </h2>
    <h3>Author: <%= article.author %></h3>
    <% if (article.source) { %>
    <h3><a href="<%= article.source %>" target="_blank">Source</a></h3>
    <% } %>
    <h3>Last modified: <%= lastMod %></h3>
</header>

<br><br><br><br>

<% if (user) { %>
<div class="placement">
        <div 
        onclick="actOnPost(event);"
        data-post-id="<%= article._id %>" 
        class="heart <%= article.likedBy.indexOf(user._id) >= 0 ? 'is-active' : '' %>"><span class="hide"><%= article.likedBy.indexOf(user._id) >= 0 ? 'Unlike' : 'Like'  %></span></div>
        <span id="likes-count-<%= article._id %>"><%= article.likes %></span>
</div>
<% } %>


<div>
    <img src="<%= article.image %>">
</div>

<main>
    <div class="container">
        <p class="flow-text">
            <%= article.content %>
        </p>
    </div>
</main>

<br><br>

<section>
    <div class="container">
    <h2>Comments</h2>
    <% if (comments.length) { %>
        <table>
          <tbody>
            <% comments.forEach((c) => { %>
              <tr>
                <td><%= c.username %></td>
                <td><%= c.createdAt.toISOString().slice(0, 16) %></td>
                <td><%= c.comment %></td>
                <td><img class="circle" src="<%= c.avatar %>" /></td>
                <% if (user && user._id.toString() === c.commenter.toString()) { %>
                <td>
                    <form action="/articles/<%= article._id %>/comments/<%= c._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="X" />
                    </form>
                </td>
                <% }; %>
              </tr>
            <% }) %>
          </tbody>
        </table>

    <% } else { %>
        <h5>No Comments Yet</h5>
    <% } %>
    </div>

    <div class="container">
        <form method="POST" action="/articles/<%= article._id %>/comments">
            <label for="comment">Comment:</label>
            <textarea name="comment" placeholder="Add comment"></textarea>
            <input type="submit" value="Post Comment">
        </form>
    </div>


</section>

<%- include('../partials/footer') %>