<%- include('../partials/header') %>
<header>
    <% if (user && user._id.toString() === originator._id.toString()) { %>
    <a class="btn-large blue lighten-3 indigo-text text-darken-4" href="/articles/<%= article._id %>/edit"><i class="large material-icons left">edit</i>Edit</a>
    <form id="delete-btn" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
        <button class="right btn-large red accent-1  brown-text text-darken-4" type="submit"><i class="large material-icons left">delete</i>Delete</button>
    </form>
    <% } %>
    <h2><%= article.title %> </h2>
    <h3>Author: <%= article.author %></h3>
    <% if (article.source) { %>
    <h3><a href="<%= article.source %>" target="_blank">Source</a></h3>
    <% } %>
    <h3>Last modified: <%= lastMod %></h3>
</header>

<br><br><br><br>

<% if (user) { %>
<div class="placement">
        <div 
        onclick="actOnPost(event);"
        data-post-id="<%= article._id %>" 
        class="heart <%= article.likedBy.indexOf(user._id) >= 0 ? 'is-active' : '' %>"><span class="hide"><%= article.likedBy.indexOf(user._id) >= 0 ? 'Unlike' : 'Like'  %></span></div>
        <span id="likes-count-<%= article._id %>" class="new badge cyan darken-4" data-badge-caption="likes"><%= article.likes ? article.likes : 0 %></span>
</div>
<% } %>


<div>
    <img src="<%= article.image %>">
</div>

<main>
    <div class="container">
        <p class="flow-text">
            <%= article.content %>
        </p>
    </div>
</main>

<br><br>

<section>
    <div class="container">
    <h2>Comments</h2>
    <% if (comments.length) { %>
        <ul class="collection">
            <% comments.forEach((c) => { %>
            <li class="collection-item avatar">
              <img src="<%= c.avatar %>" alt="" class="circle">
              <span class="title"><%= c.username %></span>
              <p><%= c.createdAt.toString().slice(0, 34) %><br><br>
                <%= c.comment %>
              </p>
              <% if (user && user._id.toString() === c.commenter.toString()) { %>
                <form class="secondary-content" action="/articles/<%= article._id %>/comments/<%= c._id%>?_method=DELETE" method="POST">
                    <button class="btn-floating btn-small grey lighten-5" type="submit"><i class="material-icons red-text">delete</i></button>
                </form>
              <% }; %>
            </li>
            <% }) %>
          </ul>
    <% } else { %>
        <h5>No Comments Yet</h5>
    <% } %>
    </div>

    <div class="container">
        <form method="POST" action="/articles/<%= article._id %>/comments">
            <label for="comment">Comment:</label>
            <textarea name="comment" placeholder="Add comment"></textarea>
            <input type="submit" value="Post Comment">
        </form>
    </div>


</section>

<%- include('../partials/footer') %>