<%- include('../partials/header') %>
<header>
    <% if (user) { %>
    <a href="/articles/<%= article._id %>/edit">Edit Post</a>
    <% } %>
    <h2><%= article.title %> </h2>
    <h3>Author: <%= article.author %></h3>
    <% if (article.source) { %>
    <h3><a href="<%= article.source %>" target="_blank">Source</a></h3>
    <% } %>
    <h3>Last modified: <%= lastMod %></h3>
</header>
<div>
    <img src=<%= article.image %>>
</div>

<main>
    <p>
        <%= article.content %>
    </p>
</main>

<%- include('../partials/footer') %>