<%- include('../partials/header') %>
<section>
    <div class="container center-align">
        <img id="profile-pic" class="circle z-depth-3" src="<%= user.avatar %>">
    </div>
    <div class="container center-align">
        <h3 class="flow-text"><%= user.name %></h3>
    </div>
</section>

<div id="profile-middle-par" class="parallax-container">
    <div class="parallax">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/ngc6357_0.jpg" alt="" class="responsive-img">
    </div>
</div>

<section>
    <% if (articles) { %>
    <div class="container">
        <h2 class="flow-text">My Articles:</h2>
        <div class="row">
            <% articles.forEach((article) => { %>
            <div class="col s12 m6 l3">
            <div class="card small grey lighten-3">
                <div class="card-image">
                <img src="<%= article.image %>">
                <span id="profile-cards" class="card-title truncate"><%= article.title.toUpperCase() %></span>
                </div>
                <div class="card-content">
                <p><%= article.createdAt.toString().slice(0, 16) %></p>
                </div>
                <div class="card-action">
                <a href="/articles/<%= article._id %>" class="deep-orange-text text-darken-4">Go to article</a>
                </div>
            </div>
            </div>
            <% }); %>
        </div>
    </div>
    <% } else { %>
        <h3>No articles created yet</h3>
    <% } %>
</section>

<div id="profile-bottom-par" class="parallax-container">
    <div class="parallax">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/ngc6357_0.jpg" alt="" class="responsive-img">
    </div>
</div>
<%- include('../partials/footer') %>